{
  "printWidth": 120,
  "arrowParens": "always",
  "semi": true,
  "trailingComma": "all",
  "endOfLine": "lf",
  "singleQuote": true,
  "useTabs": false,
  "bracketSpacing": true,
  "tacaidth": 2,
  "jsxSingleQuote": true,
  "jsxBracketSameLine": true
}