.ca_contain {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
.ca_sidebar {
  width: 100%;
  max-width: 320px;
  background: var(--secondColor);
  height: 100vh;
  position: fixed;
  z-index: 2;
}
.ca_sidebar .ca_logo {
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 25px;
  border-bottom: 1px solid var(--borderColor2);
}
.ca_sidebar .ca_logo img {
  max-height: 30px;
}
.ca_sidebar .ca_user_admin {
  padding: 20px 25px;
  border-bottom: 1px solid var(--borderColor2);
  color: var(--seventhColor);
}
.ca_sidebar .ca_user_admin img {
  max-width: 40px;
  max-height: 40px;
  object-fit: cover;
  margin-right: 10px;
}
.ca_sidebar .ca_main_menu {
  margin-top: 20px;
  padding: 0 10px;
  display: block;
}
.ca_sidebar .ca_main_menu li {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  transition: all 300ms;
  margin-bottom: 1px;
  position: relative;
}
.ca_sidebar .ca_main_menu li a {
  width: calc(100% - 30px);
  display: flex;
  align-items: center;
  color: var(--seventhColor);
  padding: 12px 0;
}
.ca_sidebar .ca_main_menu li a span {
  font-size: 22px;
  display: inline-block;
  margin-right: 20px;
}
.ca_sidebar .ca_main_menu li i {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  color: var(--seventhColor);
  justify-content: center;
  cursor: pointer;
}
.ca_sidebar .ca_main_menu li ul {
  position: absolute;
  max-width: 300px;
  width: 100%;
  background: var(--firstColor);
  top: 0;
  opacity: 0;
  z-index: -1;
  left: 0;
  transition: all 300ms;
  border-radius: 7px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
  padding: 10px;
}
.ca_sidebar .ca_main_menu li:hover,
.ca_sidebar .ca_main_menu li.ca_active {
  background: var(--firstColor);
}
.ca_sidebar .ca_main_menu li:hover ul {
  left: 100%;
  z-index: 1;
  opacity: 1;
}

.ca_main {
  width: calc(100vw - 320px);
  position: relative;
  z-index: 1;
  margin-left: 320px;
}
.ca_main header {
  height: 60px;
  padding: 0 25px;
  border-bottom: 1px solid var(--borderColor);
}
.ca_main header h1 {
  font-size: 25px;
  color: var(--textColor);
  font-weight: 700;
  max-width: 50%;
  width: 100%;
}
.ca_main header .ca_right_header {
  max-width: 50%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.ca_main header .ca_right_header .ca_btn_header {
  border-radius: 7px;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 15px;
  padding: 7px 15px;
  display: inline-block;
  transition: all 300ms;
  color: var(--seventhColor);
  background: --seventhColor;
  background: #f4f5f6;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
}
.ca_main header .ca_right_header .ca_btn_header span {
  font-size: 20px;
  color: var(--firstColor);
}
.ca_main header .ca_right_header .ca_box_list {
  position: absolute;
  max-width: 320px;
  background: var(--seventhColor);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  width: 100%;
  display: none;
}
.ca_main header .ca_right_header .ca_box_list .ca_list_items {
  padding: 10px;
  border-bottom: 1px solid var(--borderColor);
  cursor: pointer;
  position: relative;
  padding-left: 60px;
  transition: all 300ms;
}
.ca_main header .ca_right_header .ca_box_list .ca_list_items span.fi {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f5f6;
  top: 10px;
  left: 10px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  color: var(--firstColor);
  border-radius: 50%;
}
.ca_main header .ca_right_header .ca_box_list .ca_list_items h3 {
  margin-bottom: 5px;
  margin-top: 5px;
}
.ca_main header .ca_right_header .ca_box_list .ca_list_items span:not(span.fi) {
  font-size: 13px;
  color: var(--secondColor);
  opacity: 0.5;
}
.ca_main header .ca_right_header .ca_box_list .ca_list_items:last-child {
  border-bottom: none;
}
.ca_main header .ca_right_header .ca_box_list .ca_list_items:hover {
  background: var(--borderColor);
}
.ca_main header .ca_right_header .ca_box_list.ca_show {
  display: block;
}
.ca_main header .ca_right_header .ca_more_option {
  margin-left: 15px;
  cursor: pointer;
  position: relative;
}
.ca_main header .ca_right_header .ca_more_option img {
  max-width: 40px;
  max-height: 40px;
  object-fit: contain;
  border-radius: 25px;
  margin-right: 7px;
}
.ca_main header .ca_right_header .ca_more_option .ca_account_list {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--seventhColor);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  width: 200px;
  border-radius: 10px;
  opacity: 0;
  transition: all 300ms;
  z-index: -1;
}
.ca_main header .ca_right_header .ca_more_option .ca_account_list ul {
  max-width: 100%;
  width: 100%;
  padding: 10px;
}
.ca_main header .ca_right_header .ca_more_option .ca_account_list ul li {
  width: 100%;
}
.ca_main header .ca_right_header .ca_more_option .ca_account_list ul li a {
  display: flex;
  align-items: center;
  padding: 10px;
  color: var(--textColor);
}
.ca_main header .ca_right_header .ca_more_option .ca_account_list ul li a span {
  margin-right: 10px;
  display: inline-block;
}
.ca_main header .ca_right_header .ca_more_option .ca_account_list.ca_show {
  top: 100%;
  z-index: 1;
  opacity: 1;
}

/* .ca_main_wrapp {
  padding: 20px;
} */
